/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --bs-font-sans-serif: Inconsolata;
  --bd-dark-blue-bg: rgb(5, 45, 100);
  --bs-white: rgb(255, 255, 255);
}

.custom-popover {
  --bs-popover-max-width: 500px;
  --bs-popover-border-color: var(--bd-dark-blue-bg);
  --bs-popover-header-bg: var(--bd-dark-blue-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 20px;
  --bs-popover-body-padding-y: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}